table {
  border: 1px solid rgb(201, 195, 195);
  padding: 5px;
}

td {
  height: 30px;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(even) {
  background-color: rgba(233, 228, 157, 0.836);
}

table {
  margin: auto;
  width: 40%;
  border-collapse: collapse;
}

h1,
footer {
  text-align: center;
  margin: 40px;
}

.fa-regular {
  color: rgb(231, 141, 37);
}

span {
  margin-left: 15px;
  margin-right: 10px;
}
